/* PortfolioAllocationChart.css */

.chart-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.chart {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  align-items: center;
}

.chart-title {
  font-size: 24px;
  margin-bottom: 10px;
}

  .chart-legend {
    flex: 1;
    padding: 10px;
    background-color: #f2f2f2;
  }
  
  /* .chart {
    flex: 3;
    padding: 10px;
    background-color: #fff;
  }
  
  .chart-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  } */